.component {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  gap: 15px;
  width: 73%;
  margin: 25px auto;
}
@media only screen and (max-width: 750px) {
  .component {
    grid-template-columns: 250px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 750px) {
  .component {
    grid-template-columns: 250px 250px;
  }
}
.missionSection {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
}
.missionImg {
  height: 225px;
  width: 225px;
  background-color: aliceblue;
  margin: 10px;
}
.missionDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
}
.missionHeading {
  text-align: left;
  margin: 15px;
  font-style: oblique;
}
